<div class="radio">
	<label>
		<input type="radio" name="optionsRadios" value="option1" checked>
		Option one is checked
	</label>
</div>
<div class="radio">
	<label>
		<input type="radio" name="optionsRadios" value="option2">
		Option two is not checked
	</label>
</div>
<div class="radio disabled">
	<label>
		<input type="radio" name="optionsRadios" value="option3" disabled>
		Option three is disabled
	</label>
</div>
