<div class="checkbox">
	<label>
		<input type="checkbox" value="option1" checked>
		Option one is checked
	</label>
</div>
<div class="checkbox">
	<label>
		<input type="checkbox" value="option2">
		Option two is not checked
	</label>
</div>
<div class="checkbox disabled">
	<label>
		<input type="checkbox" value="option3" disabled>
		Option three is disabled
	</label>
</div>
<div class="checkbox disabled">
	<label>
		<input type="checkbox" value="option4" disabled checked>
		Option four is disabled and checked
	</label>
</div>
