{{#extend "error-view"}}
	{{#content "title"}}Error Layout Sample{{/content}}
	{{#content "error"}}
		<div class="cover-alert">
			<div class="alert alert-danger">
				<h4>Oh snap! :(</h4>
				<p>An unexpected error has just been thrown...</p>
			</div>
		</div>

		{{> placeholder}}
	{{/content}}
{{/extend}}




