---
layout: three-column.hbs
section: plugins
plugin: inner-navigation
title: Inner-Navigation Plugin
description: Provides smooth scrolling for inner navigation anchors
---
<h2 style="margin-bottom: 350px" id="one">One</h2>
<h2 style="margin-bottom: 350px" id="two">Two</h2>
<h2 style="margin-bottom: 350px" id="three">Three</h2>
<h2 style="margin-bottom: 350px" id="four">Four</h2>
<h2 style="margin-bottom: 350px" id="five">Five</h2>
