---
title: CodeBox
section: codebox
headline: false
---
<section class="codebox" data-provides="codebox" data-template-url="{{assets}}snippets/templates/templates-codebox.html">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert fade hide" data-codebox-notification="alert">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><!-- Dynamically updated --></h4>
				<p><!-- Dynamically updated --></p>
			</div>
			<div class="row no-gutter">
				<div class="col-md-2">
					<header class="codebox-branding">
						<h3 class="codebox-title pull-left">
							<span>CodeBox</span>
						</h3>
						<ul class="codebox-nav-views nav pull-right" role="menu">
							<li role="menuitem">
								<a href="#codebox-nav" class="nav-toggle" role="button" data-toggle="collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="fa fa-bars fa-lg"></span>
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</header>
					<div id="codebox-nav" class="codebox-navigation collapse">
						<h2 class="sr-only">CodeBox navigation</h2>
						<nav>
							{{#asArray "css"}}
								{{#context content=../navigation.global.css sections=this sectionHeader=true id="codebox-nav"}}
									{{> codebox-nav}}
								{{/context}}
							{{/asArray}}

							{{#asArray "components"}}
								{{#context content=../navigation.global.components sections=this sectionHeader=true id="codebox-nav"}}
									{{> codebox-nav}}
								{{/context}}
							{{/asArray}}

							{{#asArray "layouts"}}
								{{#context content=../navigation.global.layouts sections=this sectionHeader=true id="codebox-nav"}}
									{{> codebox-nav}}
								{{/context}}
							{{/asArray}}

							<div class="dev-only">
								{{#asArray "widgets"}}
									{{#context content=../navigation.global.widgets sections=this sectionHeader=true id="codebox-nav"}}
										{{> codebox-nav}}
									{{/context}}
								{{/asArray}}
							</div>
						</nav>
					</div>
				</div>
				<div class="col-sm-6 col-md-5 col-lg-4">
					<header class="codebox-toolbar clearfix">
						<ul class="codebox-nav-views nav pull-left" role="menu">
							<li role="presentation">
								<a role="button">
									<label class="small" for="codebox-view-toggle">Snippets view</label>
									<label class="switch switch-green">
										<input id="codebox-view-toggle" type="checkbox" class="switch-input" checked>
										<span class="switch-label" data-on="On" data-off="Off"></span>
										<span class="switch-handle"></span>
									</label>
								</a>
							</li>
						</ul>
						<ul class="codebox-nav-modes nav nav-pills pull-left" role="menu" data-codebox-view="composite">
							<li class="active" role="menuitem">
								<a href="#codebox-editor-html" role="tab" data-toggle="tab" data-codebox-mode="html" data-codebox-view-type="page">HTML</a>
							</li>
							<li role="menuitem">
								<a href="#codebox-editor-css" role="tab" data-toggle="tab" data-codebox-mode="css">CSS</a>
							</li>
							<li role="menuitem">
								<a href="#codebox-editor-javascript" role="tab" data-toggle="tab" data-codebox-mode="javascript">JS</a>
							</li>
						</ul>
						<ul class="codebox-nav-controls nav nav-pills pull-right" role="menu">
							<li role="menuitem" class="source-controls">
								<a role="button" data-provides="clipboard" data-source=".codebox .tab-pane.active .codebox-editor">
									<span class="fa fa-clipboard"></span>
									<span class="sr-only">Copy</span>
								</a>
							</li>
						</ul>
					</header>
					<div class="codebox-content">
						<div class="tab-content">
							<div id="codebox-editor-html" class="tab-pane active">
								<pre class="codebox-editor codebox-editor-html " data-codebox-editor="html"><!-- Dynamically updated --></pre>
							</div>
							<div id="codebox-editor-css" class="tab-pane">
								<pre class="codebox-editor codebox-editor-css " data-codebox-editor="css"><!-- Dynamically updated --></pre>
							</div>
							<div id="codebox-editor-javascript" class="tab-pane">
								<pre class="codebox-editor codebox-editor-javascript " data-codebox-editor="javascript" data-codebox-preview-delay="1500"><!-- Dynamically updated --></pre>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-5 col-lg-6">
					<header class="codebox-preview-header">
						<ul class="codebox-nav-meta nav nav-pills pull-left" data-codebox-meta="preview" style="display: none;">
							<li role="presentation">
								<a class="small" data-codebox-meta="size" title="Dimensions of the current viewport of the preview area."><!-- Dynamically updated --></a>
								<a class="small" data-codebox-meta="grid">
									<span class="XS" title="Extra small screen&nbsp;/&nbsp;phone">XS</span>
									<span class="SM" title="Small screen&nbsp;/&nbsp;tablet">SM</span>
									<span class="MD" title="Medium screen&nbsp;/&nbsp;desktop">MD</span>
									<span class="LG" title="Large screen&nbsp;/&nbsp;wide desktop">LG</span>
									<span class="XL" title="Extra large screen&nbsp;/&nbsp;desktop">XL</span>
									<span class="XXL" title="XXL screen&nbsp;/&nbsp;desktop">XXL</span>
								</a>
								<a class="small" data-codebox-meta="collapse" style="display: none;" title="Some UI components are now collapsed to fit the current viewport of the preview area.">collapsed</a>
							</li>
						</ul>
						<ul class="codebox-nav-preview nav nav-pills pull-right">
							<li class="active" role="presentation">
								<a role="tab">Preview</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</header>
					<div class="codebox-preview" data-codebox-preview="live"></div>
				</div>
			</div>
			<footer class="smaller">
				<span data-codebox-notification="state"></span>
				<span role="button" data-codebox-notification="status" data-provides="clipboard" data-source="[data-codebox-notification=status]"><!-- Dynamically updated --></span>
			</footer>
		</div>
	</div>
</section>
