<form role="form">
	<div class="form-group has-success has-feedback">
		<label for="docs-examples-forms-feedback-validation-success">Input with success</label>
		<input type="text" class="form-control" id="docs-examples-forms-feedback-validation-success" />
		<span class="form-control-feedback">
			<span class="fa fa-check"></span>
		</span>
		<span class="help-block">Email address is valid!</span>
	</div>
	<div class="form-group has-warning has-feedback">
		<label for="docs-examples-forms-feedback-validation-warning">Input with warning</label>
		<input type="text" class="form-control" id="docs-examples-forms-feedback-validation-warning" />
		<span class="form-control-feedback">
			<span class="fa fa-exclamation-triangle"></span>
		</span>
		<span class="help-block">Unknown email address.</span>
	</div>
	<div class="form-group has-error has-feedback">
		<label for="docs-examples-forms-feedback-validation-error">Input with error</label>
		<input type="text" class="form-control" id="docs-examples-forms-feedback-validation-error" />
		<span class="form-control-feedback">
			<span class="fa fa-times"></span>
		</span>
		<span class="help-block">Email address is invalid!</span>
	</div>
</form>
