<div class="row">
	<div class="col-xs-4 col-sm-3 col-md-1">
		<p>&copy;&nbsp;2015</p>
	</div>
	<div class="col-xs-8 col-sm-6 col-md-5">
			<p><bean:message key="ofcom.abbreviation"/>&nbsp;<bean:message key="ofcom.name"/></p>
	</div>
	<div class="col-xs-8 col-xs-push-4 col-sm-3 col-sm-push-0 col-md-6">
		<ul class="list-inline">
			<li>
				<a href="http://www.disclaimer.admin.ch" title="Terms and conditions" target="_blank" class="link">Legal</a>
			</li>
			<li>
				<a href="mailto:info@bit.admin.ch" title="This link will open your email client in order to send an email to info@bit.admin.ch" class="link">Contact</a>
			</li>
		</ul>
	</div>
</div>
