{{~#prettify}}
<form role="form">
	<div class="form-actions">
		<button type="button" class="btn btn-link">Low priority action</button>
		<div class="btn-group">
			<button id="docs-examples-forms-actions-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Secondary action</button>
			{{#extend "dropdown-menu"}}
				{{#content "variant"}} dropdown-menu-right{{/content}}
				{{#content "id"}}docs-examples-forms-actions-menu{{/content}}
			{{/extend}}
		</div>
		<button type="button" class="btn btn-primary">
			<span class="fa fa-save"></span>
			<span>Primary action</span>
		</button>
	</div>
</form>
{{/prettify~}}
