{{#if relativePath}}
	{{> viewport}}
{{else}}
	<div class="source-controls">
		<div class="btn-group">
			<button type="button" class="btn btn-sm" data-provides="clipboard" data-source="#layout-html">Copy</button>
			<a href="{{assets}}codebox.html#codebox-{{section}}" role="button" class="btn btn-sm">CodeBox</a>
		</div>
	</div>
	<ul class="nav nav-tabs" role="tablist">
		<li class="active">
			<a href="#layout-preview" role="tab" data-toggle="tab">Preview</a>
		</li>
		<li>
			<a href="#layout-html" role="tab" data-toggle="tab">HTML</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="layout-preview">
			{{> viewport}}
		</div>
		<div class="tab-pane" id="layout-html">
			{{#context path=(format 'target/snippets/layouts/{0}.html' section)}}
				{{> source}}
			{{/context}}
		</div>
	</div>
{{/if}}
