<div class="has-overlay">
	<div class="overlay overlay-inverse">
		<span class="fa fa-spinner fa-spin fa-5x"></span>
	</div>
	<iframe src="{{path}}" class="docs-boxed" height="750px" width="100%"
	        data-provides="responsive-viewport"
	        data-viewport-source="{{path}}" data-viewport-base="{{assets}}"></iframe>
</div>
