<ul class="{{#block "nav"}}dropdown-menu{{/block}}{{#block "variant"}}{{/block}}" role="menu" aria-labelledby="{{#block "id"}}{{/block}}">
	{{#block "header-top"}}<li role="presentation" class="dropdown-header">Dropdown header</li>{{/block}}
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="#{{#block "id"}}{{/block}}-1">Action</a>
	</li>
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="#{{#block "id"}}{{/block}}-2">Another action</a>
	</li>
	<li role="presentation" class="disabled">
		<a role="menuitem" tabindex="-1" href="#{{#block "id"}}{{/block}}-3">Disabled link</a>
	</li>
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="#{{#block "id"}}{{/block}}-4">Something else here</a>
	</li>
	<li role="presentation" class="divider"></li>
	{{#block "header-bottom"}}<li role="presentation" class="dropdown-header">Dropdown header</li>{{/block}}
	<li role="presentation">
		<a role="menuitem" tabindex="-1" href="#{{#block "id"}}{{/block}}-5">Separated link</a>
	</li>
</ul>
