{{~#prettify}}
<div class="dropdown">
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" id="docs-example-dropdowns-usage-button">
		<span>Dropdown button</span>
		<span class="caret"></span>
	</button>
	{{#extend "dropdown-menu"}}
		{{#content "id"}}docs-example-dropdowns-usage-button{{/content}}
	{{/extend}}
</div>
<div class="dropdown">
	<a data-toggle="dropdown" class="btn dropdown-toggle" role="button" id="docs-example-dropdowns-usage-link">
		<span>Dropdown link</span>
		<span class="caret"></span>
	</a>
	{{#extend "dropdown-menu"}}
		{{#content "id"}}docs-example-dropdowns-usage-link{{/content}}
	{{/extend}}
</div>
{{/prettify~}}
