<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Congratulations!</strong> Now that you fully read the general terms &amp; conditions, you can <a href="#" class="alert-link" data-dismiss="alert">dismiss this alert</a>.
</div>
