<div class="row">
	<div class="col-xs-4 col-sm-3 col-md-1">
		<p>&copy;&nbsp;2014</p>
	</div>
	<div class="col-xs-8 col-sm-6 col-md-5">
		<p>Powered by <a href="{{package.homepage}}" title="{{package.description}}">{{package.title}} Framework</a> <span class="version">(v{{package.version}})</span></p>
		<p>Federal Office of Information Technology, Systems and Telecommunication FOITT</p>
	</div>
	<div class="col-xs-8 col-xs-push-4 col-sm-3 col-sm-push-0 col-md-6">
		<ul class="list-unstyled">
			<li>
				<a href="http://www.disclaimer.admin.ch" title="Terms and conditions" target="_blank" class="link">Legal</a>
			</li>
			<li>
				<a href="mailto:info@bit.admin.ch" title="This link will open your email client in order to send an email to info@bit.admin.ch" class="link">Contact</a>
			</li>
		</ul>
	</div>
</div>
