<ul class="nav nav-stacked" role="menu" data-provides="inner-navigation activable">
	<li class="nav-header" role="presentation">
		<h3>{{package.title}} Support</h3>
	</li>
	<li role="menuitem">
		<a href="{{> target}}support.html#support-reporting">Report an issue</a>
	</li>
	<li role="menuitem">
		<a href="{{> target}}support.html#support-changelog">Changelog</a>
	</li>
</ul>
