<ul class="nav nav-stacked" role="menu">
	<li class="nav-header" role="presentation">
		<h3>{{package.title}} Plugins</h3>
	</li>
	<li{{#is plugin "inner-navigation"}} class="active"{{/is}} role="menuitem">
		<a href="{{assets}}plugins/inner-navigation.html">Inner Navigation</a>
	</li>
</ul>
