<ul class="nav nav-stacked" role="menu">
	<li class="nav-header" role="presentation">
		<h3>{{package.title}} Layouts</h3>
	</li>
	{{#each navigation.global.layouts.items}}
		<li{{#is ../section (concat "layouts-" @key)}} class="active"{{/is}} role="menuitem">
			<a href="{{../assets}}layouts/{{@key}}.html">{{title}}</a>
		</li>
	{{/each}}
</ul>
