<ul id="nav-global-getting-started" class="nav nav-stacked" data-provides="inner-navigation activable">
	<li class="nav-header" role="presentation">
		<h3>Getting started</h3>
	</li>
	<li>
		<a href="#download">Download</a>
		<ul class="nav nav-stacked" role="menu" data-provides="inner-navigation activable" data-parent="#nav-global-getting-started">
			<li>
				<a href="#download-distribution">Distribution</a>
			</li>
			<li>
				<a href="#download-source">Source</a>
			</li>
			<li>
				<a href="#download-bower">Install with Bower</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#quick-start">Quick start</a>
		<ul class="nav nav-stacked" role="menu" data-provides="inner-navigation activable" data-parent="#nav-global-getting-started">
			<li>
				<a href="#quick-start-minified">Minified resources</a>
			</li>
			<li>
				<a href="#quick-start-nonminified">Non-minified resources</a>
			</li>
			<li>
				<a href="#quick-start-quickstarter">{{package.title}} Quickstarter</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#whats-included">What's included</a>
	</li>
	<li>
		<a href="#start">Let's start</a>
		<ul class="nav nav-stacked" role="menu" data-provides="inner-navigation activable" data-parent="#nav-global-getting-started">
			<li>
				<a href="#start-basic-template">Basic template</a>
			</li>
			<li>
				<a href="#start-layouts">Available layouts</a>
			</li>
		</ul>
	</li>
</ul>
