{{> placeholder}}

{{#is plugin 'inner-navigation'}}
	<ul class="nav nav-stacked" role="menu" data-provides="inner-navigation" data-offset-top="#header">
		<li class="nav-header" role="presentation">
			<h3>Inner Anchors</h3>
		</li>
		<li class="active" role="menuitem">
			<a href="#one">One</a>
		</li>
		<li role="menuitem">
			<a href="#two">Two</a>
		</li>
		<li role="menuitem">
			<a href="#three">Three</a>
		</li>
		<li role="menuitem">
			<a href="#four">Four</a>
		</li>
		<li role="menuitem">
			<a href="#five">Five</a>
		</li>
	</ul>
{{/is}}
