{{#extend "content-view"}}
	{{#content "head"}}{{/content}}
	{{#content "content"}}
				<h1>{{package.title}} 101 Template</h1>
				<h2>Hello, world!</h2>
				<p class="lead">I'm using {{package.title}} :)</p>
	{{/content}}
{{/extend}}
