<p>
	<button type="button" class="btn btn-primary" disabled="disabled">Primary button</button>
	<button type="button" class="btn btn-default" disabled="disabled">Button</button>
</p>
<p>
	<a href="#" class="btn btn-primary disabled" role="button">Primary link</a>
	<a href="#" class="btn btn-default disabled" role="button">Link</a>
</p>
