<div class="callout callout-info">
	<label>For demonstration purpose only!</label>
	<p>Buttons will automatically toggle to the active state when they are clicked or pressed but if you need to force the same appearance, go ahead and add <code>.active</code>.</p>
</div>
