<div class="docs-example-block">
	<a role="button" class="toggle" data-provides="activable">Toggle (Down-Up, default)</a>
	<a role="button" class="toggle-down-right" data-provides="activable">Toggle (Down-Right)</a>
	<a role="button" class="toggle-down-left" data-provides="activable">Toggle (Down-Left)</a>
	<a role="button" class="toggle-up-down" data-provides="activable">Toggle (Up-Down)</a>
	<a role="button" class="toggle-up-right" data-provides="activable">Toggle (Up-Right)</a>
	<a role="button" class="toggle-up-left" data-provides="activable">Toggle (Up-left)</a>
	<a role="button" class="toggle-right-left" data-provides="activable">Toggle (Right-Left)</a>
	<a role="button" class="toggle-right-down" data-provides="activable">Toggle (Right-Down)</a>
	<a role="button" class="toggle-right-up" data-provides="activable">Toggle (Right-Up)</a>
	<a role="button" class="toggle-left-right" data-provides="activable">Toggle (Left-Right)</a>
	<a role="button" class="toggle-left-down" data-provides="activable">Toggle (Left-Down)</a>
	<a role="button" class="toggle-left-up" data-provides="activable">Toggle (Left-Up)</a>
</div>
