<div class="has-overlay row">
	<div class="overlay">
		<span class="fa fa-spinner fa-spin fa-5x"></span>
	</div>
	<div class="col-xs-12">
		<p>{{lorem}}</p>
		<p>{{lorem}}</p>
		<p>{{lorem}}</p>
	</div>
</div>
