{{#extend "base-view"}}
	{{#block "layout"}}content{{/block}}
	{{#block "title"}}Content Layout{{/block}}
	{{#content "base"}}
		<a href="#content" class="sr-only">Skip to main content</a>
		<div id="wrapper">
			{{#block "header"}}{{/block}}
			<div id="content" role="main">
				{{#block "content"}}
					{{> placeholder}}
				{{/block}}
			</div>
		</div>
		{{#block "footer"}}{{/block}}
	{{/content}}
{{/extend}}
