{{#extend "default-view"}}
	{{#content "content-layout"}}cover{{/content}}
	{{#content "title"}}Cover Layout{{/content}}
	{{#content "head" mode="append"}}
		<!-- <{{package.name}}:placeholder> -->
		<script type="text/javascript">
			$(function() {
				// Enable background rendering through HolderJS on cover layout:
				$('.cover-layout #wrapper').addClass('holderjs');
			});
		</script>
		<style type="text/css">
			.cover-layout #wrapper {
				/* Override background property for your custom background-color/image */
				background-image: url(?holder.js/300x300/sky/auto/text:Background);
			}
		</style>
		<!-- </{{package.name}}:placeholder> -->
	{{/content}}
	{{#content "navigation"}}{{/content}}
	{{#content "default"}}
		<div class="cover-header">
			<h1>{{#block "page-title"}}Cover Header{{/block}}</h1>
		</div>
		{{#block "cover"}}
			{{> placeholder}}
		{{/block}}
	{{/content}}
{{/extend}}
