<ol class="nav nav-wizard">
	<li class="valid">
		<a role="button">Valid</a>
	</li>
	<li class="invalid">
		<a role="button">Invalid</a>
	</li>
	<li class="error">
		<a role="button">Error</a>
	</li>
	<li class="success">
		<a role="button">Success</a>
	</li>
	<li class="success valid">
		<a role="button">Success & Valid</a>
	</li>
	<li class="warning">
		<a role="button">Warning</a>
	</li>
	<li class="warning invalid">
		<a role="button">Warning & Invalid</a>
	</li>
	<li class="danger">
		<a role="button">Danger</a>
	</li>
	<li class="danger error">
		<a role="button">Danger & Error</a>
	</li>
</ol>
