---
layout: default.hbs
section: layouts
headline: true
title: Layouts
description: Page compositions for every usecase
---
<div class="row">
	<div class="col-md-4">
		<section class="row">
			<div class="col-sm-4">
				<div class="btn btn-info dropcap dropcap-block">
					<span class="fa fa-check"></span>
				</div>
			</div>
			<div class="col-sm-8">
				<h2>
					<a href="default.html">
						<span class="fa fa-angle-right"></span>
						<span>Default layout</span>
					</a>
				</h2>
				<p>The standard layout for most usecases.</p>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<section class="row">
			<div class="col-sm-4">
				<div class="btn btn-info dropcap dropcap-block">
					<span class="fa fa-th-list"></span>
				</div>
			</div>
			<div class="col-sm-8">
				<h2>
					<a href="two-column.html">
						<span class="fa fa-angle-right"></span>
						<span>Two-Column layout</span>
					</a>
				</h2>
				<p>Sidebar navigation on the left.</p>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<section class="row">
			<div class="col-sm-4">
				<div class="btn btn-info dropcap dropcap-block">
					<span class="fa fa-th"></span>
				</div>
			</div>
			<div class="col-sm-8">
				<h2>
					<a href="three-column.html">
						<span class="fa fa-angle-right"></span>
						<span>Three-Column layout</span>
					</a>
				</h2>
				<p>Sidebar navigation on the left and information panel on the right.</p>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<section class="row">
			<div class="col-sm-4">
				<div class="btn btn-info dropcap dropcap-block">
					<span class="fa fa-user"></span>
				</div>
			</div>
			<div class="col-sm-8">
				<h2>
					<a href="cover.html">
						<span class="fa fa-angle-right"></span>
						<span>Cover layout</span>
					</a>
				</h2>
				<p>Showcase layout for emphasing content.</p>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<section class="row">
			<div class="col-sm-4">
				<div class="btn btn-info dropcap dropcap-block">
					<span class="fa fa-warning"></span>
				</div>
			</div>
			<div class="col-sm-8">
				<h2>
					<a href="error.html">
						<span class="fa fa-angle-right"></span>
						<span>Error layout</span>
					</a>
				</h2>
				<p>Fallback layout for error recovery.</p>
			</div>
		</section>
	</div>
</div>
