<div class="docs-example-block">
	<a role="button" href="#"><span class="badge">42</span> Default badge</a>
	<a role="button" href="#"><span class="badge badge-primary">42</span> Primary badge </a>
	<a role="button" href="#"><span class="badge badge-success">42</span> Success badge</a>
	<a role="button" href="#"><span class="badge badge-info">42</span> Info badge</a>
	<a role="button" href="#"><span class="badge badge-warning">42</span> Warning badge</a>
	<a role="button" href="#"><span class="badge badge-danger">42</span> Danger badge</a>
</div>
