<div class="callout callout-info">
	<h4>Opt-in functionality</h4>
	<p>For performance reasons, the Tooltip and Popover data-apis are opt-in, meaning <strong>you must initialize them yourself</strong>.</p>
	<p>You can either add the <code>has-tooltips</code> CSS class name to any parent element for triggering initialization on document load or manually initialize the tooltip via JavaScript:</p>
	<pre class="highlight"><code class="js">$('.has-tooltips [data-toggle="tooltip"]').tooltip(options);</code></pre>
	<p>
		<label>See also:</label>
		<a href="http://getbootstrap.com/javascript/#tooltips" class="btn btn-link">
			<span class="fa fa-external-link"></span>
			<span>Bootstrap - Tooltips</span>
		</a>
	</p>
</div>
