<!-- Accessibility shortcuts -->
<div class="hidden">
	<span class="sr-only">Accesskeys:</span>
	<ul>
		<li><a accesskey="0" href="{{assets}}index.html">To start page [Alt + 0]</a></li>
		<li><a accesskey="1" href="#nav-global">To global navigation [Alt + 1]</a></li>
		<li><a accesskey="2" href="#nav-main">To header navigation [Alt + 2]</a></li>
		<li><a accesskey="3" href="#content">Zum Inhalt [Alt + 3]</a></li>
	</ul>
</div>
