<noscript>
	<div class="row callout callout-danger">
		<div class="col-md-3">
			<h4>Javascript required!</h4>
		</div>
		<div class="col-md-9">
			<p class="lead">JavaScript must be enabled to use this site.</p>
			<p>Please enable JavaScript in your browser and refresh the page.</p>
		</div>
	</div>
</noscript>
<section class="alert-compatibility row callout callout-danger">
	<div class="col-md-3">
		<h4>Unsupported browser!</h4>
	</div>
	<div class="col-md-9">
		<p class="lead">Please note that your browser, Internet Explorer 8 or earlier, is deprecated.</p>
		<p>We recommend upgrading to the <a href="http://ie.microsoft.com" target="_blank">latest version</a>.</p>
		<p>If you are using IE 9 or above, make sure you <a href="http://windows.microsoft.com/en-us/internet-explorer/use-compatibility-view" target="_blank">turn off "Compatibility View".</a></p>
	</div>
</section>
