{{~#prettify~}}<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#docs-example-modal-usage">Launch demo modal</button>

<!-- Modal -->
<div id="docs-example-modal-usage" class="modal fade" tabindex="-1" style="display: none;"
     role="dialog" aria-hidden="true" aria-labelledby="#docs-example-modal-usage-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="docs-example-modal-usage-label">Modal title</h4>
				{{#context wizardVariant="nav-wizard-sm horizontal"}}{{> nav-wizard}}{{/context}}
			</div>
			<div class="modal-body">
				<h4>Text in a modal</h4>
				<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

				<h4>Popover in a modal</h4>
				<p>This <a role="button" class="btn btn-default" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.</p>

				<h4>Tooltips in a modal</h4>
				<p><a title="Tooltip">This link</a> and <a title="Tooltip">that link</a> should have tooltips on hover.</p>

				<h4>Wizard in a modal</h4>
				{{#context wizardVariant="nav-wizard-sm horizontal"}}{{> nav-wizard}}{{/context}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
{{/prettify~}}
