<!-- Small modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".docs-example-modal-sm">Small modal</button>
<div class="modal fade docs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="docs-example-modals-sizes-small-title" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="docs-example-modals-sizes-small-title">Small modal</h4>
			</div>
			<div class="modal-body">
				...
			</div>
		</div>
	</div>
</div>

<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".docs-example-modal-lg">Large modal</button>
<div class="modal fade docs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="docs-example-modals-sizes-large-title" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="docs-example-modals-sizes-large-title">Large modal</h4>
			</div>
			<div class="modal-body">
				...
			</div>
		</div>
	</div>
</div>
