<div class="row">
	<div class="col-sm-3">
		<p><a id="css-types-inline-link" href="#css-types-inline-link">Link</a></p>
	</div>
	<div class="col-sm-9">
		<p>This is an inline <a href="#css-types-inline-link">link</a> anchor.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<p><label id="css-types-inline-label">Label</label></p>
	</div>
	<div class="col-sm-9">
		<p>This is an inline <label>label</label>.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<p><i id="css-types-inline-italic">Italic</i></p>
	</div>
	<div class="col-sm-9">
		<p>This is inline <i>italic</i> text.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<p><strong id="css-types-inline-strong">Strong</strong></p>
	</div>
	<div class="col-sm-9">
		<p>This is inline <strong>strong</strong> text.</p>
	</div>
</div>
