<div class="row">
	<div class="col-sm-3">
		<p>Paragraph</p>
	</div>
	<div class="col-sm-9">
		<p>{{lorem}}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<p class="small">Paragraph small</p>
	</div>
	<div class="col-sm-9">
		<p class="small">{{lorem}}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<p class="smaller">Paragraph smaller</p>
	</div>
	<div class="col-sm-9">
		<p class="smaller">{{lorem}}</p>
	</div>
</div>
