<ul class="nav nav-stacked" data-provides="activable">
	<li class="nav-header" role="presentation">
		<h3>Navigation header</h3>
	</li>
	<li>
		<a href="#nav-stacked-level-1">Level 1</a>
		<ul class="nav" data-provides="activable" data-parent=".nav.nav-stacked">
			<li><a href="#nav-stacked-level-1-1">Level 1.1</a></li>
			<li class="active"><a href="#nav-stacked-level-1-2">Level 1.2</a></li>
			<li><a href="#nav-stacked-level-1-3">Level 1.3</a></li>
		</ul>
	</li>
	<li class="">
		<a href="#nav-stacked-level-2">
			<span>Level 2</span>
			<span class="badge">9999</span>
		</a>
		<ul class="nav" data-provides="activable" data-parent=".nav.nav-stacked">
			<li><a href="#nav-stacked-level-2.1">Level 2.1</a></li>
			<li><a href="#nav-stacked-level-2.2">Level 2.2</a></li>
		</ul>
	</li>
</ul>
