<div class="callout callout-info">
	<p>
		<label>See also:</label>
		<a href="{{assets}}css.html#css-forms-actions" class="btn btn-link">
			<span class="fa fa-link"></span>
			<span>Form actions</span>
		</a>
		<a href="{{assets}}components.html#components-dropdowns" class="btn btn-link">
			<span class="fa fa-link"></span>
			<span>Button dropdowns</span>
		</a>
	</p>
</div>
